body{
  background: url(../img/bg.gif);
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #888;
}

h1,h2,h3,h4,h5 {

}

a, a:visited{
  color: #e4c8b3;
}

a:hover{
  color: #e4c8b3;
}

hr {
  border-top: 1px solid #737475;
  width: 50%;
}

.logo {
  height: 210px;
  background: url('../img/wayward-woman.svg');
  text-indent: -10000px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  margin: 20px 0 30px 0;
}

.nospace{
  word-wrap: break-word;
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .logo {
      height: 105px;
  }
}

.social-media {
  margin-top: 40px;
}

.social-media a {
  height: 150px;
  display: block;
}

.social-media a img {
  min-height: 100%;
  display: block;
  margin: 0 auto;
}

.title {
  margin-top: 40px;
}

.title h1 {
  font-size: 52pt;
}

.location {
  margin-top: 10px;
}

.location .map {
  margin-top: 20px;
}

.footer {
  margin-top: 40px;
}
