body{
  background: url('../img/greyfloral.png');
}

.social-media {
  margin-top: 40px;
}

.social-media a {
  height: 150px;
  display: block;
}

.social-media a img {
  min-height: 100%;
  display: block;
  margin: 0 auto;
}

.title {
  margin-top: 40px;
}

.title h1 {
  font-size: 52pt;
}

.location {
  margin-top: 10px;
}

.location .map {
  margin-top: 40px;
}

.footer {
  margin-top: 80px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.peel-box{
  background: #FFF;
  margin: 10px auto;
  position: relative;
}

.peel-box:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}


.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
